<div class="container-fluid">
  <div class="row" *ngFor="let quote of myArr; let i=index">
    <div class="col-md-12" style="border:2px solid aqua;height:30vh">
      <blockquote class="blockquote">
        <h3>quote</h3>
  <p appHighlight *ngIf="quote.upvotes && i==0; else newp"  class="mb-0">{{quote.quote}}.</p>
  <ng-template #newp>{{quote.quote}}</ng-template>
  <footer class="blockquote-footer">author <cite title="Source Title"> {{quote.author}}</cite></footer>
</blockquote>
    <p>posted on {{quote.date|date}}</p>
      <button (click)="upVote(i)" class="btn btn-primary">upvote</button> {{ quote.upvotes }}
      <button (click)="downVote(i)" class="btn btn-primary">downvote</button>{{ quote.downvotes }}
      <button (click)="delete(i)" class="btn btn-primary">Delete</button>

    </div>
  </div>
</div>
